.checkout {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    color: black;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.submit-button {
    background-color: blue;
    color: rgb(0, 0, 0);
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}