/* frontend/src/styles/ProductList.css */

.product-list {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.product-card {
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background-color: #f8f9fa; /* Cor de fundo mais clara */
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.product-image {
  border-radius: 15px 15px 0 0;
}

.product-info {
  padding: 20px;
  text-align: center;
}

.card-actions {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
}

.add-to-cart-button {
  background-color: #1976d2;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #115293;
  transform: scale(1.05);
}

.view-details-button {
  color: #1976d2;
  border-color: #1976d2;
  transition: all 0.3s ease;
}

.view-details-button:hover {
  background-color: rgba(25, 118, 210, 0.1);
  border-color: #115293;
  color: #115293;
}
